.profile {
    padding-top: 100px;
}

h2 {
    font-family: SFUIDisplay, sans-serif;
}

h1 {
    font-family: SFUIDisplay, sans-serif;
}

h4 {
    font-family: SFUIDisplay, -apple-system, sans-serif;
}

.project-header {
    padding-top: 40px;
}
.button-primary {
    padding-bottom: 10px;
    padding-top: 10px;
}
a {
    padding-bottom: 5px;
}

.education{
    padding-bottom: 25px;
}

.bergen {
    text-align: left;
    align-content: start;
    align-self: start;
}

.RU {
    padding-bottom: 50px;
}

.bachelor {
    padding-bottom: 20px;
}

.as {
    padding-bottom: 20px;
}

.contact {
    padding-bottom: 20px;
}

.comments {
    padding-bottom: 50px;
}

.form-floating {
    padding-bottom: 20px;
}

form {
    padding-bottom: 100px;
}

