
.profile {
    padding-top: 100px;
    padding-bottom: 25px;
    background: rgb(116,88,221);
    min-width: 100%;
    min-height: 60vh;
    background: linear-gradient(114deg, rgba(116,88,221,1) 11%, rgba(247,156,62,1) 98%);
}

.project-stack {
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgb(71, 71, 71);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    max-width: 22%;
    padding: 5px;
}

.stack {
    padding-bottom: 10px;
}

.stack-title {
    padding-top: 10px;
}

.my-info-title {
    color: white;
    font-size: 16px;
    font-family: SFUIDisplay, -apple-system, sans-serif;
}

dl {
    margin-top: 0px;
    margin-bottom: 1rem;
    font-family: SFUIDisplay, -apple-system, sans-serif;
    color: white;
}

dt {
    float: left;
    font-family: SFUIDisplay, -apple-system, sans-serif;
    color: white;
}

dl dd {
    display: block;
    margin-left: 0;
    padding-left: 75px;
    font-family: SFUIDisplay, -apple-system, sans-serif;
    color: white;
}

.welcome {
    margin: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 60%;
}

.info-card {
    text-align: start;
    color: white;
}

.name {
    padding-top: 10px;
    text-align: start;
    color: white;
}

.intro-pic {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.project {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 4px;
    display: flex;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 60%;
    padding: 20px;
}

h2 {
    font-family: SFUIDisplay, sans-serif;
}

h1 {
    font-family: SFUIDisplay, sans-serif;
}

h4 {
    font-family: SFUIDisplay, -apple-system, sans-serif;
}

h5 {
    font-family: SFUIDisplay, -apple-system, sans-serif;
}

.project-header {
    padding-top: 75px;
}
.button-primary {
    padding-bottom: 10px;
    padding-top: 10px;
}
a {
    padding-bottom: 5px;
}

.education{
    padding-bottom: 25px;
}

.bergen {
    text-align: left;
    align-content: start;
    align-self: start;
}

.RU {
    padding-bottom: 50px;
}

.bachelor {
    padding-bottom: 20px;
}

.as {
    padding-bottom: 20px;
}

.contact {
    padding-bottom: 20px;
}

.comments {
    padding-bottom: 50px;
}

.form-floating {
    padding-bottom: 20px;
}

form {
    padding-bottom: 100px;
}

